<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Sova</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito&display=swap" rel="stylesheet">
</head>

<body>
<div class="main">
  <img src="../img/logoSovaWord.png" class="logo">
  <div class="opacity"></div>
  <div class="right">
    <div class="welcome-container">
      <div class="button-container">
        <div class="login button">Log in</div>
        <div class="signup button">Sign up</div>
      </div>
      <div class="welcome">
        <p class="welcome-message first-line">Hi, welcome<p>
        <p class="welcome-message">to our library!</p>
        <p class="intro">Sova is a free platform for sharing children’s paper books in Russian available for people located in North Carolina, in the Research Triangle Park area.<p>
        <p class="bold">Here you can:<p>
        <ul>
          <li>borrow books from others,</li>
          <li>lend your books,</li>
          <li>search and browse a full catalog of available books,</li>
          <li>communicate with other readers via built-in Facebook messenger.</li>
        </ul>
        <div class="signup-oj button">Sign up</div>
        <p class="italicize">Happy reading! </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
